.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    background-color: #f8f8f8;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    text-align: center;
}

.name-detail {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.image-detail {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
}

.height-detail,
.weight-detail {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

.type-detail {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.type-detail div {
    background-color: #ffcb05;
    color: #3b4cca;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: capitalize;
}
.similar-pokemon {
    margin-top: 20px;
    padding: 15px;
    background-color: #f8f9fa; /* Light gray background */
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.similar-pokemon ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.similar-pokemon li {
    padding: 5px 10px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    transition: background 0.3s ease;
}

.similar-pokemon li:hover {
    background: #e3e3e3;
    cursor: pointer;
}
